body {
  background: url(https://bogatyr.club/uploads/posts/2021-11/thumbs/1636962094_46-bogatyr-club-p-serovatii-fon-46.png);
  background-size: cover;
}
.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
